<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %} 
    {% endblock %}
    <button type="button" class="update-btn" onclick="updateFunction()">Update</button>
    <button type="button" class="delete-btn">Delete</button>
    <script>
var table = document.getElementById('tbl');
var cells = table.getElementsByTagName('td');
var temporaryValue = { row: null, column: null, value: '' };

for (var i = 0; i < cells.length; i++) {
    cells[i].onclick = function () {
        var rowIndex = this.parentNode.rowIndex;
        var columnIndex = this.cellIndex;

        var input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.value = this.innerHTML;
        input.style.width = this.offsetWidth - (this.clientLeft * 2) + "px";
        input.style.height = this.offsetHeight - (this.clientTop * 2) + "px";
        input.style.border = "0px";
        input.style.fontFamily = "inherit";
        input.style.fontSize = "inherit";
        input.style.textAlign = "inherit";
        input.style.backgroundColor = "LightGoldenRodYellow";

        // Store information about the row, column, and value
        temporaryValue.row = rowIndex;
        temporaryValue.column = columnIndex;

        // Store the value when the input field loses focus
        input.onblur = function () {
            temporaryValue.value = input.value;
            console.log(temporaryValue); // Log the information for testing
        };

        this.innerHTML = '';
        this.style.cssText = 'padding: 0px 0px';
        this.append(input);
        this.firstElementChild.select();
    };
}
    </script>
    
</body>
</html>